@import '../dashboard/dashboard.css';

/* Page Header */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.page-header h1 {
  margin: 0;
  font-size: 24px;
  color: #0f172a;
}

.page-header button {
  background: #0f172a;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
}

.page-header button:hover {
  background: #020617;
}

/* Status */
.status {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.status.available {
  background: #dcfce7;
  color: #166534;
}

.status.rented {
  background: #dbeafe;
  color: #1e40af;
}

.status.maintenance {
  background: #fee2e2;
  color: #991b1b;
}